In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 1. 회원정보

In [3]:
df1 = pd.read_parquet('../open/train/1.회원정보/201807_train_회원정보.parquet')
df2 = pd.read_parquet('../open/train/1.회원정보/201808_train_회원정보.parquet')
df3 = pd.read_parquet('../open/train/1.회원정보/201809_train_회원정보.parquet')
df4 = pd.read_parquet('../open/train/1.회원정보/201810_train_회원정보.parquet')
df5 = pd.read_parquet('../open/train/1.회원정보/201811_train_회원정보.parquet')
df6 = pd.read_parquet('../open/train/1.회원정보/201812_train_회원정보.parquet')


# 담을 리스트 리스트
all_df = []

# df1~6 담아주기
all_df.append(df1)
all_df.append(df2)
all_df.append(df3)
all_df.append(df4)
all_df.append(df5)
all_df.append(df6)

# merge
merged_df = pd.concat(all_df, ignore_index=True)

print("\n--- 데이터 기본 정보 ---")
merged_df.info()
print("\n")
merged_df.head()

--- 데이터 기본 정보 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 78 columns):
 #   Column              Dtype
---  ------              -----
 0   기준년월                int64
 1   ID                  object
 2   남녀구분코드              int64
 3   연령                  object
 4   Segment             object
 5   회원여부_이용가능           int64
 6   회원여부_이용가능_CA        int64
 7   회원여부_이용가능_카드론       int64
 8   소지여부_신용             int64
 9   소지카드수_유효_신용         int64
 10  소지카드수_이용가능_신용       int64
 11  입회일자_신용             int64
 12  입회경과개월수_신용          int64
 13  회원여부_연체             int64
 14  이용거절여부_카드론          int64
 15  동의여부_한도증액안내         int64
 16  수신거부여부_TM           int64
 17  수신거부여부_DM           int64
 18  수신거부여부_메일           int64
 19  수신거부여부_SMS          int64
 20  가입통신회사코드            object
 21  탈회횟수_누적             int64
 22  최종탈회후경과월            int64
 23  탈회횟수_발급6개월이내        int64
 24  탈회횟수_발급1년이내         int64
 25  거주시도명               object
 26  직장시도명               object
 27  마케팅동의여부             int64
 28  유효카드수_신용체크          int64
 29  유효카드수_신용            int64
 30  유효카드수_신용_가족         int64
 31  유효카드수_체크            int64
 32  유효카드수_체크_가족         int64
 33  이용가능카드수_신용체크        int64
 34  이용가능카드수_신용          int64
 35  이용가능카드수_신용_가족       int64
 36  이용가능카드수_체크          int64
 37  이용가능카드수_체크_가족       int64
 38  이용카드수_신용체크          int64
 39  이용카드수_신용            int64
 40  이용카드수_신용_가족         int64
 41  이용카드수_체크            int64
 42  이용카드수_체크_가족         int64
 43  이용금액_R3M_신용체크       int64
 44  이용금액_R3M_신용         int64
 45  이용금액_R3M_신용_가족      int64
 46  이용금액_R3M_체크         int64
 47  이용금액_R3M_체크_가족      int64
 48  _1순위카드이용금액          int64
 49  _1순위카드이용건수          int64
 50  _1순위신용체크구분          object
 51  _2순위카드이용금액          int64
 52  _2순위카드이용건수          int64
 53  _2순위신용체크구분          object
 54  최종유효년월_신용_이용가능      float64
 55  최종유효년월_신용_이용        float64
 56  최종카드발급일자            float64
 57  보유여부_해외겸용_본인        int64
 58  이용가능여부_해외겸용_본인      int64
 59  이용여부_3M_해외겸용_본인     int64
 60  보유여부_해외겸용_신용_본인     int64
 61  이용가능여부_해외겸용_신용_본인   int64
 62  이용여부_3M_해외겸용_신용_본인  int64
 63  연회비발생카드수_B0M        object
 64  연회비할인카드수_B0M        int64
 65  기본연회비_B0M           int64
 66  제휴연회비_B0M           int64
 67  할인금액_기본연회비_B0M      int64
 68  할인금액_제휴연회비_B0M      int64
 69  청구금액_기본연회비_B0M      int64
 70  청구금액_제휴연회비_B0M      int64
 71  상품관련면제카드수_B0M       object
 72  임직원면제카드수_B0M        object
 73  우수회원면제카드수_B0M       object
 74  기타면제카드수_B0M         object
 75  카드신청건수              int64
 76  Life_Stage          object
 77  최종카드발급경과월           int64
dtypes: float64(3), int64(61), object(14)
memory usage: 1.4+ GB

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15

In [4]:
remove_cols = ['_2순위카드이용건수',
                  '소지여부_신용',
                  '제휴연회비_B0M',
                  '카드신청건수',
                  '우수회원면제카드수_B0M',
                  '유효카드수_신용_가족', 
                  '임직원면제카드수_B0M', 
                  '할인금액_제휴연회비_B0M', 
                  '회원여부_이용가능', 
                  '상품관련면제카드수_B0M',
                  '이용금액_R3M_체크',
                  '이용거절여부_카드론',
                  '청구금액_제휴연회비_B0M',
                  '_2순위카드이용금액',
                  '회원여부_연체',
                  '탈회횟수_발급1년이내',
                  '탈회횟수_발급6개월이내',
                  '이용금액_R3M_체크_가족',
                  '이용가능카드수_체크_가족',
                  '이용가능카드수_신용_가족',
                  '이용카드수_체크_가족',
                  '할인금액_기본연회비_B0M',
                  '유효카드수_체크_가족',
                  '이용카드수_신용_가족',
                  '기본연회비_B0M',
                  '기타면제카드수_B0M',
                  '이용금액_R3M_신용_가족',
                  '동의여부_한도증액안내',
                  '연회비할인카드수_B0M',
                  '청구금액_기본연회비_B0M',
                  '이용카드수_체크']

cleaned_df1 = merged_df.drop(remove_cols, axis=1)
cleaned_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 47 columns):
 #   Column              Dtype
---  ------              -----
 0   기준년월                int64
 1   ID                  object
 2   남녀구분코드              int64
 3   연령                  object
 4   Segment             object
 5   회원여부_이용가능_CA        int64
 6   회원여부_이용가능_카드론       int64
 7   소지카드수_유효_신용         int64
 8   소지카드수_이용가능_신용       int64
 9   입회일자_신용             int64
 10  입회경과개월수_신용          int64
 11  수신거부여부_TM           int64
 12  수신거부여부_DM           int64
 13  수신거부여부_메일           int64
 14  수신거부여부_SMS          int64
 15  가입통신회사코드            object
 16  탈회횟수_누적             int64
 17  최종탈회후경과월            int64
 18  거주시도명               object
 19  직장시도명               object
 20  마케팅동의여부             int64
 21  유효카드수_신용체크          int64
 22  유효카드수_신용            int64
 23  유효카드수_체크            int64
 24  이용가능카드수_신용체크        int64
 25  이용가능카드수_신용          int64
 26  이용가능카드수_체크          int64
 27  이용카드수_신용체크          int64
 28  이용카드수_신용            int64
 29  이용금액_R3M_신용체크       int64
 30  이용금액_R3M_신용         int64
 31  _1순위카드이용금액          int64
 32  _1순위카드이용건수          int64
 33  _1순위신용체크구분          object
 34  _2순위신용체크구분          object
 35  최종유효년월_신용_이용가능      float64
 36  최종유효년월_신용_이용        float64
 37  최종카드발급일자            float64
 38  보유여부_해외겸용_본인        int64
 39  이용가능여부_해외겸용_본인      int64
 40  이용여부_3M_해외겸용_본인     int64
 41  보유여부_해외겸용_신용_본인     int64
 42  이용가능여부_해외겸용_신용_본인   int64
 43  이용여부_3M_해외겸용_신용_본인  int64
 44  연회비발생카드수_B0M        object
 45  Life_Stage          object
 46  최종카드발급경과월           int64
dtypes: float64(3), int64(34), object(10)
memory usage: 860.6+ MB

In [5]:
a1 = cleaned_df1.columns.to_list()

for i in a1:
    print(f"{cleaned_df1[i].value_counts(dropna=False)}")
    print(f"Unique : {cleaned_df1[i].unique()}")
    print(f"남은 결측치 : {cleaned_df1[i].isnull().sum()}")
    print('----'*10)

기준년월
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64
Unique : [201807 201808 201809 201810 201811 201812]
남은 결측치 : 0
----------------------------------------
ID
TRAIN_000000    6
TRAIN_266650    6
TRAIN_266672    6
TRAIN_266671    6
TRAIN_266670    6
               ..
TRAIN_133331    6
TRAIN_133330    6
TRAIN_133329    6
TRAIN_133328    6
TRAIN_399999    6
Name: count, Length: 400000, dtype: int64
Unique : ['TRAIN_000000' 'TRAIN_000001' 'TRAIN_000002' ... 'TRAIN_399997'
 'TRAIN_399998' 'TRAIN_399999']
남은 결측치 : 0
----------------------------------------
남녀구분코드
1    1255308
2    1144692
Name: count, dtype: int64
Unique : [2 1]
남은 결측치 : 0
----------------------------------------
연령
40대      733146
30대      592146
50대      546342
60대      246990
20대      191880
70대이상     89496
Name: count, dtype: int64
Unique : ['40대' '30대' '20대' '60대' '50대' '70대이상']
남은 결측치 : 0
----------------------------------------
Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64
Unique : ['D' 'E' 'C' 'A' 'B']
남은 결측치 : 0
----------------------------------------
회원여부_이용가능_CA
1    2112243
0     287757
Name: count, dtype: int64
Unique : [1 0]
남은 결측치 : 0
----------------------------------------
회원여부_이용가능_카드론
1    1491148
0     908852
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
소지카드수_유효_신용
1    1845949
2     391523
3     120560
0      41882
4         86
Name: count, dtype: int64
Unique : [1 2 3 0 4]
남은 결측치 : 0
----------------------------------------
소지카드수_이용가능_신용
1    1723263
2     370561
0     205225
3     100951
Name: count, dtype: int64
Unique : [1 2 3 0]
남은 결측치 : 0
----------------------------------------
입회일자_신용
20180601    312138
20171201     25266
20180101     24882
20180301     24606
20170801     24486
             ...
19911101        18
19910501         6
19910901         6
19901101         6
19910801         6
Name: count, Length: 325, dtype: int64
Unique : [20130101 20170801 20080401 20160501 20180601 20141001 20081001 20070301
 20121001 20161201 20080801 20151001 20170301 20150701 20170601 20070901
 20180201 20080601 20111001 20140801 20120401 20170201 20160901 20120201
 19990901 20140501 20100101 20150201 20170501 20110601 20070701 19970101
 19990501 20141201 20060701 20030601 20061201 20090901 20060601 19951101
 20060201 20001101 20030901 20170401 20140701 20000401 20160701 19991001
 20161001 20180301 20120701 20180101 20130601 20150101 20121201 20111201
 19930601 19940601 20110701 20120901 20080901 20130501 20161101 19991201
 20160301 20011001 19970201 20111101 19971201 20040601 20140301 20100801
 19980701 20130301 20140401 20131101 20170101 20171001 20170901 20091001
 20141101 19990401 20100501 20171201 20030501 20100201 20150501 20110401
 19950601 20150401 20100701 20040701 20151201 20110101 20120501 20090101
 20151101 20160601 20160401 19970901 20010101 20130901 20120801 20180401
 20160201 20080201 20061001 20010401 20010301 19991101 20010501 20100901
 19980401 20050201 19970301 20180501 20020201 19980801 19971101 20000501
 20140101 19960101 20140901 19970701 20020701 20020401 20131201 20040401
 19940201 20130801 19940801 20101201 20090201 20121101 20130401 20120301
 20170701 20070801 20090701 20050301 20010701 20150301 20070601 19980101
 20010201 20031001 20110801 20140601 20120601 20040901 20080101 20071001
 20131001 20080701 20090301 19961201 20010901 20130701 19960801 20130201
 19981001 20031101 20090401 20030801 20070501 20171101 20110901 19980601
 20071101 20021101 19941001 19970501 20100601 19970601 20070401 20120101
 20020501 20040501 20150801 19990301 20140201 20011101 20050801 20150601
 20160101 20050601 19970801 20000201 20091201 20160801 20090601 20071201
 19950501 20100401 20050701 20070101 19961101 20150901 20051101 20110501
 20030301 20110301 19940501 20040101 20000601 20040201 20050501 20060301
 19990201 20060901 20050901 20091101 20110201 19990601 20080501 20020801
 19960901 19980201 20000301 20050401 20030201 20090501 20030101 20021201
 20031201 20101001 20101101 20020301 20051201 20000701 20090801 20081101
 19930901 19981201 19951201 19950801 20100301 20060501 19950201 19980501
 20040301 19990101 19970401 19960301 19950401 20000901 20041201 19950901
 20010601 19971001 19960401 19940401 20020901 20020101 20021001 20050101
 20000101 20060801 19980901 19980301 20061101 19931201 20030701 19940901
 20000801 20060101 20070201 19960701 19961001 20020601 20051001 20041001
 20080301 19981101 20010801 19930701 20060401 19990701 20081201 19960201
 20011201 19951001 20001201 19931101 19960501 19990801 20001001 20030401
 19950701 19960601 19911101 19950101 20040801 20041101 19931001 19921101
 19950301 19930101 19941201 19940701 19941101 19930801 19930301 19940101
 19940301 19930201 19920601 19920101 19920901 19930401 19921201 19921001
 19911201 19930501 19920401 19920801 19920701 19920301 19920501 19920201
 19911001 19910501 19910901 19901101 19910801]
남은 결측치 : 0
----------------------------------------
입회경과개월수_신용
6      119886
5       64069
4       59968
3       55969
2       52023
        ...
334         1
329         1
335         1
330         1
336         1
Name: count, Length: 335, dtype: int64
Unique : [ 67  12 124  27   2  46 118 137  70  20 120  34  17  37  14 131   6 122
  82  48  76  18  23  78 227  51 103  42  15  86 133 259 231  44 145 182
 140 107 146 273 150 213 179  16  49 220  25 226  22   5  73   7  62  43
  68  80 302 290  85  71 119  63  21 224  29 202 258  81 248 170  53  96
 241  65  52  57  19  10  11 106  45 232  99   8 183 102  39  88 278  40
  97 169  32  91  75 115  33  26  28 251 211  59  72   4  30 126 142 208
 209 225 207  95 244 162 257   3 198 240 249 219  55 271  47 253 193 196
  56 172 294  60 288  92 114  69  64  77  13 132 109 161 205  41 134 247
 210 178  84  50  74 167 127 130  58 121 113 260 203  61 264  66 238 177
 112 180 135   9  83 242 129 189 286 255  98 254 136  79 195 171  36 233
  54 201 156  38  31 158 252 222 104  24 110 128 279 100 157 139 261  35
 153  87 185  89 291 175 218 174 159 149 234 143 155 105  90 230 123 192
 263 246 221 160 186 111 187 188 176  94  93 197 152 217 108 117 299 236
 272 276 101 147 282 243 173 235 256 269 280 215 164 275 206 250 268 292
 191 199 190 163 223 144 239 245 141 296 181 287 216 151 138 265 262 194
 154 166 125 237 204 301 148 229 116 270 200 274 212 297 267 228 214 184
 277 266 321 283 168 165 298 309 281 307 284 289 285 300 305 295 293 306
 314 319 311 304 308 310 320 303 316 312 313 317 315 318 322 327 323 333
 324 328 334 325 329 335 326 330 336 331 337]
남은 결측치 : 0
----------------------------------------
수신거부여부_TM
0    1545358
1     854642
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
수신거부여부_DM
0    1646080
1     753920
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
수신거부여부_메일
0    1632571
1     767429
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
수신거부여부_SMS
0    1513438
1     886562
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
가입통신회사코드
S사      995637
K사      565208
L사      451585
None    387570
Name: count, dtype: int64
Unique : ['L사' 'K사' 'S사' None]
남은 결측치 : 387570
----------------------------------------
탈회횟수_누적
0    1403785
1     759487
2     236728
Name: count, dtype: int64
Unique : [1 0 2]
남은 결측치 : 0
----------------------------------------
최종탈회후경과월
0      1411713
47       76113
46       75812
48       73304
45       64384
        ...
117          2
15           1
89           1
39           1
53           1
Name: count, Length: 71, dtype: int64
Unique : [ 61  98  60 100 101   0  44 103  96  46 102  45  43  47 105  42  18 110
 108 104  99  19  97 107  20  21 109  17 106  41  95  94  40  93  59  92
  22 112  16 111  91  90  39  89  48  15  62   1  23 113  49  63   2  24
 114  50  64   3  25 115  51  65   4  26 116  52  66   5  27 117  53]
남은 결측치 : 0
----------------------------------------
거주시도명
서울    692656
경기    652987
인천    162815
부산    149007
대전    142800
충북    110601
경남     96244
경북     91237
대구     80687
울산     70491
전남     55304
광주     36659
충남     30091
전북     13572
강원     12156
제주      2544
세종       149
Name: count, dtype: int64
Unique : ['서울' '경기' '부산' '광주' '대전' '전북' '인천' '경남' '충북' '전남' '울산' '경북' '강원' '대구'
 '충남' '제주' '세종']
남은 결측치 : 0
----------------------------------------
직장시도명
경기      598244
서울      576618
None    244969
인천      146944
부산      131285
대전      120697
충북      103951
경남       94527
경북       82975
대구       76605
울산       66275
전남       52849
광주       34100
충남       28361
전북       20442
강원       15485
세종        3117
제주        2556
Name: count, dtype: int64
Unique : ['서울' '경기' '부산' '광주' None '전북' '인천' '대전' '경남' '충북' '전남' '경북' '울산' '강원'
 '대구' '세종' '충남' '제주']
남은 결측치 : 244969
----------------------------------------
마케팅동의여부
1    1944017
0     455983
Name: count, dtype: int64
Unique : [1 0]
남은 결측치 : 0
----------------------------------------
유효카드수_신용체크
1    936149
2    709422
3    404994
4    203891
5     79437
0     29233
6     26423
7      9395
8      1056
Name: count, dtype: int64
Unique : [2 1 3 7 5 0 4 6 8]
남은 결측치 : 0
----------------------------------------
유효카드수_신용
1    1497037
2     548265
3     198458
4      99794
0      41303
5      15143
Name: count, dtype: int64
Unique : [1 2 4 3 0 5]
남은 결측치 : 0
----------------------------------------
유효카드수_체크
0    1436752
1     661328
2     215445
3      86475
Name: count, dtype: int64
Unique : [1 0 3 2]
남은 결측치 : 0
----------------------------------------
이용가능카드수_신용체크
1    945107
2    692678
3    358846
4    185705
0    111452
5     72702
6     24067
7      8532
8       911
Name: count, dtype: int64
Unique : [2 1 3 7 5 0 4 6 8]
남은 결측치 : 0
----------------------------------------
이용가능카드수_신용
1    1443851
2     486521
0     188157
3     175252
4      92228
5      13991
Name: count, dtype: int64
Unique : [1 2 4 0 3 5]
남은 결측치 : 0
----------------------------------------
이용가능카드수_체크
0    1439532
1     662696
2     212783
3      84989
Name: count, dtype: int64
Unique : [1 0 3 2]
남은 결측치 : 0
----------------------------------------
이용카드수_신용체크
1    1125925
2     536157
0     433328
3     222779
4      72103
5       9454
6        254
Name: count, dtype: int64
Unique : [1 0 2 5 3 4 6]
남은 결측치 : 0
----------------------------------------
이용카드수_신용
1    1250336
0     492003
2     456168
3     149119
4      52325
5         49
Name: count, dtype: int64
Unique : [1 0 2 4 3 5]
남은 결측치 : 0
----------------------------------------
이용금액_R3M_신용체크
0         442011
2184         122
1643         115
1945         115
1857         115
           ...
109770         1
111667         1
89913          1
127851         1
116441         1
Name: count, Length: 124193, dtype: int64
Unique : [   196  13475  23988 ... 121023 116423 116441]
남은 결측치 : 0
----------------------------------------
이용금액_R3M_신용
0         490631
3122         109
2046         108
801          107
1792         107
           ...
123948         1
80885          1
83745          1
108237         1
90491          1
Name: count, Length: 120246, dtype: int64
Unique : [   196  13475  23988 ... 116423 116441  90491]
남은 결측치 : 0
----------------------------------------
_1순위카드이용금액
0        491101
1399        144
386         143
796         143
1133        142
          ...
84157         1
89745         1
64520         1
71711         1
56510         1
Name: count, Length: 81963, dtype: int64
Unique : [ 3681 13323 24493 ... 58806 48489 56510]
남은 결측치 : 0
----------------------------------------
_1순위카드이용건수
-2      421728
-1       66230
 0       65256
 1       62980
 2       59690
         ...
 220        27
 221        16
 222        11
 223         3
 224         2
Name: count, Length: 227, dtype: int64
Unique : [ 26  46  28   1  -2  32  49 176  14 151  77  36   4  12  41  22  57  20
 116  37  29  13   9  45   5 170  94  89  11 158  23 113   8 152   0  10
  21   3 184 178  -1  59 118  95  17  82  50  72  33 120  38  85  90 124
   2  42  58  98  53  25 187 154  19  15  54  35   7   6  18  44 109 100
  93 110  24  43  84  88 194  70  64  81  16  56 173 193  66 157 125  40
  62 163  30 192 108  47 213 144 202  48 166 138  34 199 156 150  99  78
  76 134  52 129 128  83  27 106 190  65  69 182 115 114 159 122 165 179
  91  31 196 147 140  51 105  39  63  68 111  67 142 174  71 191 135 103
 127 204 104  79  80  61 203 200 189 130 102 171  60 148 212 143 139 172
 198 197 132 146 131 206  92 126 107 112  96  55  86 183 123  74 169 175
 168 209 119 121 164 137  73 201 162  87 167 136 155 161 145 141 153  75
  97 133 101 177 210 185 211 180 186 117 188 160 149 181 195 207 215 216
 205 218 214 208 220 217 219 221 222 223 224]
남은 결측치 : 0
----------------------------------------
_1순위신용체크구분
신용      2295461
체크        76589
None      27950
Name: count, dtype: int64
Unique : ['신용' None '체크']
남은 결측치 : 27950
----------------------------------------
_2순위신용체크구분
None    958115
신용      873447
체크      568438
Name: count, dtype: int64
Unique : ['체크' None '신용']
남은 결측치 : 958115
----------------------------------------
최종유효년월_신용_이용가능
NaN         210447
202208.0     66949
202207.0     66486
202210.0     66020
202209.0     64576
             ...
201809.0        62
201808.0        40
201807.0        14
201806.0         6
201805.0         2
Name: count, Length: 75, dtype: int64
Unique : [202110. 202112. 202111. 202201. 202002. 202211. 202107. 202209.     nan
 202001. 202204. 202308. 202301. 202009. 202108. 202212. 202102. 202109.
 202206. 201911. 202012. 202207. 202101. 202005. 202104. 202202. 201912.
 202205. 202103. 202302. 202305. 202208. 201908. 202310. 202203. 202106.
 202007. 202312. 201905. 202304. 201903. 201910. 202303. 202011. 201909.
 202306. 202105. 201906. 202008. 202307. 202311. 201907. 202010. 202210.
 202006. 201904. 202309. 202004. 202003. 201812. 201901. 201902. 201811.
 201810. 201809. 201808. 201806. 201807. 201805. 202401. 202403. 202402.
 202404. 202405. 202406.]
남은 결측치 : 210447
----------------------------------------
최종유효년월_신용_이용
NaN         534231
202207.0     62997
202208.0     62145
202210.0     60683
202205.0     60367
             ...
201811.0        42
201810.0        16
201809.0         8
201807.0         2
201808.0         1
Name: count, Length: 73, dtype: int64
Unique : [202112. 202204. 202201. 202111.     nan 202209. 202106. 202208. 202003.
 202205. 202303. 202212. 202011. 202110. 202211. 202104. 202304. 202302.
 202206. 201912. 202102. 202202. 202109. 202006. 202005. 202203. 202105.
 202210. 202309. 202307. 202207. 202009. 202311. 202301. 201908. 202002.
 202108. 201906. 202001. 202107. 201910. 202012. 201911. 202103. 202312.
 202010. 202306. 201905. 202310. 202101. 202305. 201909. 202007. 202008.
 202004. 202308. 201904. 201907. 201902. 201903. 201812. 201811. 201810.
 201901. 201809. 201807. 202401. 201808. 202403. 202402. 202404. 202405.
 202406.]
남은 결측치 : 534231
----------------------------------------
최종카드발급일자
NaN           41965
20180705.0     4011
20180707.0     3873
20180703.0     3837
20180701.0     3834
              ...
20130818.0        6
20131014.0        6
20130919.0        6
20130804.0        6
20131015.0        6
Name: count, Length: 1940, dtype: int64
Unique : [20160912. 20170122. 20161113. ... 20181208. 20181214. 20181202.]
남은 결측치 : 41965
----------------------------------------
보유여부_해외겸용_본인
1    1876902
0     523098
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
이용가능여부_해외겸용_본인
1    1809391
0     590609
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
이용여부_3M_해외겸용_본인
1    1452960
0     947040
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
보유여부_해외겸용_신용_본인
1    1638307
0     761693
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
이용가능여부_해외겸용_신용_본인
1    1526116
0     873884
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
이용여부_3M_해외겸용_신용_본인
1    1323516
0    1076484
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
연회비발생카드수_B0M
0개      2394826
1개이상       5174
Name: count, dtype: int64
Unique : ['0개' '1개이상']
남은 결측치 : 0
----------------------------------------
Life_Stage
자녀성장(1)    795610
자녀성장(2)    591048
자녀출산기      245797
가족구축기      242373
노년생활       233300
자녀독립기      198237
독신          93635
Name: count, dtype: int64
Unique : ['자녀성장(2)' '자녀성장(1)' '자녀출산기' '독신' '노년생활' '가족구축기' '자녀독립기']
남은 결측치 : 0
----------------------------------------
최종카드발급경과월
0     78140
14    74479
13    73671
15    73642
16    73152
      ...
63       41
64       20
65        4
66        1
67        1
Name: count, Length: 68, dtype: int64
Unique : [22 18 20 17 15 51  6 28  5 10 42 16  0  2 32  8 30 24  3 12 13 26 31 19
 23 11 29 44 40  7 14 46 38 52 21 27  9 35 45  4 48 25 34 49 36 53 47 50
 33 41 37  1 43 39 58 55 56 54 57 59 62 60 63 61 64 65 66 67]
남은 결측치 : 0
----------------------------------------

In [6]:
10/0

ZeroDivisionError: division by zero

# 2. 신용정보

In [10]:
df1 = pd.read_parquet('../open/train/2.신용정보/201807_train_신용정보.parquet')
df2 = pd.read_parquet('../open/train/2.신용정보/201808_train_신용정보.parquet')
df3 = pd.read_parquet('../open/train/2.신용정보/201809_train_신용정보.parquet')
df4 = pd.read_parquet('../open/train/2.신용정보/201810_train_신용정보.parquet')
df5 = pd.read_parquet('../open/train/2.신용정보/201811_train_신용정보.parquet')
df6 = pd.read_parquet('../open/train/2.신용정보/201812_train_신용정보.parquet')


# 담을 리스트 리스트
all_df = []

# df1~6 담아주기
all_df.append(df1)
all_df.append(df2)
all_df.append(df3)
all_df.append(df4)
all_df.append(df5)
all_df.append(df6)

# merge
merged_df = pd.concat(all_df, ignore_index=True)

print("\n--- 데이터 기본 정보 ---")
merged_df.info()
print("\n")
merged_df.head()

--- 데이터 기본 정보 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 42 columns):
 #   Column          Dtype
---  ------          -----
 0   기준년월            int64
 1   ID              object
 2   최초한도금액          int64
 3   카드이용한도금액        int64
 4   CA한도금액          int64
 5   일시상환론한도금액       int64
 6   월상환론한도금액        int64
 7   CA이자율_할인전       float64
 8   CL이자율_할인전       float64
 9   RV일시불이자율_할인전    float64
 10  RV현금서비스이자율_할인전  float64
 11  RV신청일자          float64
 12  RV약정청구율         float64
 13  RV최소결제비율        float64
 14  자발한도감액횟수_R12M   object
 15  자발한도감액금액_R12M   int64
 16  자발한도감액후경과월      int64
 17  강제한도감액횟수_R12M   int64
 18  강제한도감액금액_R12M   int64
 19  강제한도감액후경과월      int64
 20  한도증액횟수_R12M     object
 21  한도증액금액_R12M     int64
 22  한도증액후경과월        int64
 23  상향가능한도금액        int64
 24  상향가능CA한도금액      int64
 25  카드론동의여부         object
 26  월상환론상향가능한도금액    int64
 27  RV전환가능여부        object
 28  일시불ONLY전환가능여부   int64
 29  카드이용한도금액_B1M    int64
 30  카드이용한도금액_B2M    int64
 31  특별한도보유여부_R3M    int64
 32  연체감액여부_R3M      int64
 33  한도심사요청건수        object
 34  한도요청거절건수        int64
 35  한도심사요청후경과월      int64
 36  한도심사거절후경과월      int64
 37  시장단기연체여부_R6M    int64
 38  시장단기연체여부_R3M    int64
 39  시장연체상환여부_R6M    int64
 40  시장연체상환여부_R3M    int64
 41  rv최초시작후경과일      int64
dtypes: float64(7), int64(29), object(6)
memory usage: 769.0+ MB

,기준년월,ID,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,...,연체감액여부_R3M,한도심사요청건수,한도요청거절건수,한도심사요청후경과월,한도심사거절후경과월,시장단기연체여부_R6M,시장단기연체여부_R3M,시장연체상환여부_R6M,시장연체상환여부_R3M,rv최초시작후경과일
0,201807,TRAIN_000000,0,19354,7270,0,0,22.995207,18.254978,17.264967,...,0,0회,0,3,3,0,0,0,0,99999999
1,201807,TRAIN_000001,0,9996,5718,41996,90611,14.793821,14.834873,10.622446,...,0,0회,0,3,3,0,0,0,0,322
2,201807,TRAIN_000002,0,88193,35207,0,0,22.014276,17.875321,17.155829,...,0,0회,0,3,3,0,0,0,0,2378
3,201807,TRAIN_000003,0,19062,6531,0,0,22.998014,22.999453,19.293674,...,0,0회,0,3,3,0,0,0,0,99999999
4,201807,TRAIN_000004,0,177222,47149,48000,155020,14.661948,10.897410,10.654587,...,0,0회,0,3,3,0,0,0,0,99999999

In [11]:
remove_cols = ['월상환론상향가능한도금액',
               'RV신청일자',
               '시장단기연체여부_R3M',
               '시장연체상환여부_R3M',
               '특별한도보유여부_R3M',
               '한도요청거절건수',
               'RV약정청구율',
               '연체감액여부_R3M',
               '강제한도감액횟수_R12M',
               '최초한도금액',
               '한도심사요청후경과월',
               '한도심사거절후경과월',
               '강제한도감액금액_R12M',
               '시장연체상환여부_R6M',
               '시장단기연체여부_R6M',
               '자발한도감액금액_R12M',
               '한도증액금액_R12M',
               '자발한도감액후경과월']

cleaned_df2 = merged_df.drop(remove_cols, axis=1)
cleaned_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 24 columns):
 #   Column          Dtype
---  ------          -----
 0   기준년월            int64
 1   ID              object
 2   카드이용한도금액        int64
 3   CA한도금액          int64
 4   일시상환론한도금액       int64
 5   월상환론한도금액        int64
 6   CA이자율_할인전       float64
 7   CL이자율_할인전       float64
 8   RV일시불이자율_할인전    float64
 9   RV현금서비스이자율_할인전  float64
 10  RV최소결제비율        float64
 11  자발한도감액횟수_R12M   object
 12  강제한도감액후경과월      int64
 13  한도증액횟수_R12M     object
 14  한도증액후경과월        int64
 15  상향가능한도금액        int64
 16  상향가능CA한도금액      int64
 17  카드론동의여부         object
 18  RV전환가능여부        object
 19  일시불ONLY전환가능여부   int64
 20  카드이용한도금액_B1M    int64
 21  카드이용한도금액_B2M    int64
 22  한도심사요청건수        object
 23  rv최초시작후경과일      int64
dtypes: float64(5), int64(13), object(6)
memory usage: 439.5+ MB

In [14]:
a1 = cleaned_df2.columns.to_list()

for i in a1:
    print(f"{cleaned_df2[i].value_counts(dropna=False)}")
    print(f"Unique : {cleaned_df2[i].unique()}")
    print(f"남은 결측치 : {cleaned_df2[i].isnull().sum()}")
    print('----'*10)

기준년월
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64
Unique : [201807 201808 201809 201810 201811 201812]
남은 결측치 : 0
----------------------------------------
ID
TRAIN_000000    6
TRAIN_266650    6
TRAIN_266672    6
TRAIN_266671    6
TRAIN_266670    6
               ..
TRAIN_133331    6
TRAIN_133330    6
TRAIN_133329    6
TRAIN_133328    6
TRAIN_399999    6
Name: count, Length: 400000, dtype: int64
Unique : ['TRAIN_000000' 'TRAIN_000001' 'TRAIN_000002' ... 'TRAIN_399997'
 'TRAIN_399998' 'TRAIN_399999']
남은 결측치 : 0
----------------------------------------
카드이용한도금액
0         98003
9999      37990
10000     37990
9998      33190
10001     32356
          ...
213480        1
219823        1
16078         1
205989        1
176500        1
Name: count, Length: 81852, dtype: int64
Unique : [ 19354   9996  88193 ... 210990 209137 176500]
남은 결측치 : 0
----------------------------------------
CA한도금액
0        272956
6439        120
5622        117
6120        115
5467        114
          ...
63885         1
45386         1
48827         1
62354         1
49956         1
Name: count, Length: 63634, dtype: int64
Unique : [ 7270  5718 35207 ... 63082 63300 49956]
남은 결측치 : 0
----------------------------------------
일시상환론한도금액
0         1452575
200000     116828
90002       40920
90001       39549
90003       37886
           ...
161367          1
41254           1
41252           1
159421          1
41077           1
Name: count, Length: 7307, dtype: int64
Unique : [    0 41996 48000 ... 89976 78173 41077]
남은 결측치 : 0
----------------------------------------
월상환론한도금액
0         944552
250000      5603
180656       281
180686       263
180671       262
           ...
230935         1
146210         1
100966         1
102692         1
146746         1
Name: count, Length: 65045, dtype: int64
Unique : [     0  90611 155020 ...  94626 230572 146746]
남은 결측치 : 0
----------------------------------------
CA이자율_할인전
14.219972    240003
22.999954     33833
14.220626        12
14.220281        11
14.220502        11
              ...
14.659062         1
16.996140         1
21.982706         1
14.629489         1
14.841102         1
Name: count, Length: 1882014, dtype: int64
Unique : [22.99520712 14.79382125 22.01427582 ... 17.03859933 15.18288003
 14.84110235]
남은 결측치 : 0
----------------------------------------
CL이자율_할인전
22.999954    47590
10.900810       10
10.899571        9
10.899793        9
10.899819        9
             ...
15.299758        1
14.869218        1
15.657576        1
18.016733        1
15.287120        1
Name: count, Length: 2126771, dtype: int64
Unique : [18.25497816 14.83487273 17.8753207  ... 17.96621298 11.90108857
 15.28711984]
남은 결측치 : 0
----------------------------------------
RV일시불이자율_할인전
10.249980    332045
10.565835         6
10.468978         6
10.614914         6
10.552045         6
              ...
11.110893         1
12.862825         1
12.658702         1
10.935011         1
11.406823         1
Name: count, Length: 1897473, dtype: int64
Unique : [17.26496708 10.62244613 17.15582928 ... 11.10272593 10.59412407
 11.40682267]
남은 결측치 : 0
----------------------------------------
RV현금서비스이자율_할인전
22.999954    35097
10.399979    16836
13.137745        4
13.155247        4
13.631729        4
             ...
13.107954        1
13.170897        1
13.091727        1
13.086435        1
13.675624        1
Name: count, Length: 2294912, dtype: int64
Unique : [21.23425197 13.63659359 21.22687873 ... 16.22185504 13.27745584
 13.67562423]
남은 결측치 : 0
----------------------------------------
RV최소결제비율
9.99998     1723752
19.99996     383854
14.99997     252419
0.00000       29495
24.99995      10444
29.99994         36
Name: count, dtype: int64
Unique : [19.99996  9.99998 14.99997 24.99995 29.99994  0.     ]
남은 결측치 : 0
----------------------------------------
자발한도감액횟수_R12M
0회    2397778
1회       2216
2회          6
Name: count, dtype: int64
Unique : ['0회' '1회' '2회']
남은 결측치 : 0
----------------------------------------
강제한도감액후경과월
12    2132095
9       32928
10      32370
11      31922
1       29968
0       25374
2       25276
3       21235
8       18697
4       18289
5       15877
6       13527
7        2442
Name: count, dtype: int64
Unique : [12  8  1  9  0  6  2  3  4 10  7  5 11]
남은 결측치 : 0
----------------------------------------
한도증액횟수_R12M
0회      2116131
1회이상     283869
Name: count, dtype: int64
Unique : ['0회' '1회이상']
남은 결측치 : 0
----------------------------------------
한도증액후경과월
12    2178020
6       33512
3       33207
7       33029
5       32962
4       32788
8       32326
11       5202
10       4878
0        4354
1        3634
2        3623
9        2465
Name: count, dtype: int64
Unique : [12  3  7 10  9  5  8  6  1  0  2 11  4]
남은 결측치 : 0
----------------------------------------
상향가능한도금액
0     1008987
4      264408
5      222654
6      192874
3      190772
7      165521
8      130435
9       93049
10      59551
11      32566
2       15595
12      14794
13       5832
14       2065
15        634
16        200
17         44
18         19
Name: count, dtype: int64
Unique : [ 0  4  3  8 10  7  6  9  5 11 12  2 13 14 18 15 16 17]
남은 결측치 : 0
----------------------------------------
상향가능CA한도금액
0    1048107
1     705910
2     505880
3     138904
4       1199
Name: count, dtype: int64
Unique : [0 1 2 3 4]
남은 결측치 : 0
----------------------------------------
카드론동의여부
Y    1925770
N     474230
Name: count, dtype: int64
Unique : ['Y' 'N']
남은 결측치 : 0
----------------------------------------
RV전환가능여부
Z       1964098
N        406429
None      29473
Name: count, dtype: int64
Unique : ['N' 'Z' None]
남은 결측치 : 29473
----------------------------------------
일시불ONLY전환가능여부
1    1958616
0     441384
Name: count, dtype: int64
Unique : [0 1]
남은 결측치 : 0
----------------------------------------
카드이용한도금액_B1M
0         95756
10000     50643
10001     45667
9999      43129
10002     32947
          ...
167427        1
151563        1
213974        1
209236        1
6213          1
Name: count, Length: 91231, dtype: int64
Unique : [ 20805  10000  78730 ... 171704   3210   6213]
남은 결측치 : 0
----------------------------------------
카드이용한도금액_B2M
0         91327
10000     49171
10001     44454
9999      42440
10002     32030
          ...
200185        1
151116        1
216563        1
214884        1
84065         1
Name: count, Length: 95384, dtype: int64
Unique : [ 19723   9998  77975 ... 197061 222882  84065]
남은 결측치 : 0
----------------------------------------
한도심사요청건수
0회      2399913
1회이상         87
Name: count, dtype: int64
Unique : ['0회' '1회이상']
남은 결측치 : 0
----------------------------------------
rv최초시작후경과일
99999999    1951643
331            3296
329            3266
330            3242
333            3201
             ...
749               1
956               1
4778              1
1473              1
4813              1
Name: count, Length: 1675, dtype: int64
Unique : [99999999      322     2378 ...     5299      623     4813]
남은 결측치 : 0
----------------------------------------

In [ ]:
10/0

# 5. 잔액정보

In [16]:
df1 = pd.read_parquet('../open/train/5.잔액정보/201807_train_잔액정보.parquet')
df2 = pd.read_parquet('../open/train/5.잔액정보/201808_train_잔액정보.parquet')
df3 = pd.read_parquet('../open/train/5.잔액정보/201809_train_잔액정보.parquet')
df4 = pd.read_parquet('../open/train/5.잔액정보/201810_train_잔액정보.parquet')
df5 = pd.read_parquet('../open/train/5.잔액정보/201811_train_잔액정보.parquet')
df6 = pd.read_parquet('../open/train/5.잔액정보/201812_train_잔액정보.parquet')


# 담을 리스트 리스트
all_df = []

# df1~6 담아주기
all_df.append(df1)
all_df.append(df2)
all_df.append(df3)
all_df.append(df4)
all_df.append(df5)
all_df.append(df6)

# merge
merged_df = pd.concat(all_df, ignore_index=True)

print("\n--- 데이터 기본 정보 ---")
merged_df.info()
print("\n")
merged_df.head()

--- 데이터 기본 정보 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 82 columns):
 #   Column             Dtype
---  ------             -----
 0   기준년월               int64
 1   ID                 object
 2   잔액_일시불_B0M         int64
 3   잔액_할부_B0M          int64
 4   잔액_현금서비스_B0M       int64
 5   잔액_리볼빙일시불이월_B0M    int64
 6   잔액_리볼빙CA이월_B0M     int64
 7   잔액_카드론_B0M         int64
 8   월중평잔_일시불_B0M       int64
 9   월중평잔_할부_B0M        int64
 10  월중평잔_CA_B0M        int64
 11  카드론잔액_최종경과월        int64
 12  연체일자_B0M           float64
 13  연체잔액_B0M           int64
 14  연체잔액_일시불_B0M       int64
 15  연체잔액_할부_B0M        int64
 16  연체잔액_현금서비스_B0M     int64
 17  연체잔액_카드론_B0M       int64
 18  연체잔액_대환론_B0M       int64
 19  잔액_현금서비스_B1M       int64
 20  잔액_현금서비스_B2M       int64
 21  잔액_카드론_B1M         int64
 22  잔액_카드론_B2M         int64
 23  잔액_카드론_B3M         int64
 24  잔액_카드론_B4M         int64
 25  잔액_카드론_B5M         int64
 26  잔액_할부_B1M          int64
 27  잔액_할부_B2M          int64
 28  잔액_일시불_B1M         int64
 29  잔액_일시불_B2M         int64
 30  연체일수_B1M           int64
 31  연체일수_B2M           int64
 32  연체원금_B1M           int64
 33  연체원금_B2M           int64
 34  연체일수_최근            int64
 35  연체원금_최근            int64
 36  최종연체회차             int64
 37  매각잔액_B1M           int64
 38  최종연체개월수_R15M       int64
 39  RV_평균잔액_R12M       int64
 40  RV_최대잔액_R12M       int64
 41  RV_평균잔액_R6M        int64
 42  RV_최대잔액_R6M        int64
 43  RV_평균잔액_R3M        int64
 44  RV_최대잔액_R3M        int64
 45  RV잔액이월횟수_R6M       int64
 46  RV잔액이월횟수_R3M       int64
 47  잔액_할부_유이자_B0M      int64
 48  잔액_할부_무이자_B0M      int64
 49  잔액_할부_해외_B0M       int64
 50  연체잔액_일시불_해외_B0M    int64
 51  연체잔액_RV일시불_B0M     int64
 52  연체잔액_RV일시불_해외_B0M  int64
 53  연체잔액_할부_해외_B0M     int64
 54  연체잔액_CA_B0M        int64
 55  연체잔액_CA_해외_B0M     int64
 56  월중평잔               int64
 57  월중평잔_일시불           int64
 58  월중평잔_RV일시불         int64
 59  월중평잔_할부            int64
 60  월중평잔_CA            int64
 61  월중평잔_카드론           int64
 62  평잔_3M              int64
 63  평잔_일시불_3M          int64
 64  평잔_일시불_해외_3M       int64
 65  평잔_RV일시불_3M        int64
 66  평잔_RV일시불_해외_3M     int64
 67  평잔_할부_3M           int64
 68  평잔_할부_해외_3M        int64
 69  평잔_CA_3M           int64
 70  평잔_CA_해외_3M        int64
 71  평잔_카드론_3M          int64
 72  평잔_6M              int64
 73  평잔_일시불_6M          int64
 74  평잔_일시불_해외_6M       int64
 75  평잔_RV일시불_6M        int64
 76  평잔_RV일시불_해외_6M     int64
 77  평잔_할부_6M           int64
 78  평잔_할부_해외_6M        int64
 79  평잔_CA_6M           int64
 80  평잔_CA_해외_6M        int64
 81  평잔_카드론_6M          int64
dtypes: float64(1), int64(80), object(1)
memory usage: 1.5+ GB

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0

In [17]:
remove_cols = [
'잔액_현금서비스_B0M',
'잔액_리볼빙일시불이월_B0M',
'잔액_리볼빙CA이월_B0M',
'잔액_카드론_B0M',
'월중평잔_CA_B0M',
'카드론잔액_최종경과월',
'연체일자_B0M',
'연체잔액_B0M',
'연체잔액_일시불_B0M',
'연체잔액_할부_B0M',
'연체잔액_현금서비스_B0M',
'연체잔액_카드론_B0M',
'연체잔액_대환론_B0M',
'잔액_현금서비스_B1M',
'잔액_현금서비스_B2M',
'잔액_카드론_B1M',
'잔액_카드론_B2M',
'잔액_카드론_B3M',
'잔액_카드론_B4M',
'잔액_카드론_B5M',
'연체원금_B1M',
'연체원금_B2M',
'연체원금_최근',
'매각잔액_B1M',
'최종연체개월수_R15M',
'RV_평균잔액_R12M',
'RV_최대잔액_R12M',
'RV_평균잔액_R6M',
'RV_최대잔액_R6M',
'RV_평균잔액_R3M',
'RV_최대잔액_R3M',
'RV잔액이월횟수_R6M',
'RV잔액이월횟수_R3M',
'잔액_할부_유이자_B0M',
'잔액_할부_해외_B0M',
'연체잔액_일시불_해외_B0M',
'연체잔액_RV일시불_B0M',
'연체잔액_RV일시불_해외_B0M',
'연체잔액_할부_해외_B0M',
'연체잔액_CA_B0M',
'연체잔액_CA_해외_B0M',
'월중평잔_RV일시불',
'월중평잔_CA',
'월중평잔_카드론',
'평잔_일시불_해외_3M',
'평잔_RV일시불_3M',
'평잔_RV일시불_해외_3M',
'평잔_할부_해외_3M',
'평잔_CA_3M',
'평잔_CA_해외_3M',
'평잔_카드론_3M',
'평잔_일시불_해외_6M',
'평잔_RV일시불_6M',
'평잔_RV일시불_해외_6M',
'평잔_할부_해외_6M',
'평잔_CA_6M',
'평잔_CA_해외_6M',
'평잔_카드론_6M']
cleaned_df3 = merged_df.drop(remove_cols, axis=1)
cleaned_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 24 columns):
 #   Column         Dtype
---  ------         -----
 0   기준년월           int64
 1   ID             object
 2   잔액_일시불_B0M     int64
 3   잔액_할부_B0M      int64
 4   월중평잔_일시불_B0M   int64
 5   월중평잔_할부_B0M    int64
 6   잔액_할부_B1M      int64
 7   잔액_할부_B2M      int64
 8   잔액_일시불_B1M     int64
 9   잔액_일시불_B2M     int64
 10  연체일수_B1M       int64
 11  연체일수_B2M       int64
 12  연체일수_최근        int64
 13  최종연체회차         int64
 14  잔액_할부_무이자_B0M  int64
 15  월중평잔           int64
 16  월중평잔_일시불       int64
 17  월중평잔_할부        int64
 18  평잔_3M          int64
 19  평잔_일시불_3M      int64
 20  평잔_할부_3M       int64
 21  평잔_6M          int64
 22  평잔_일시불_6M      int64
 23  평잔_할부_6M       int64
dtypes: int64(23), object(1)
memory usage: 439.5+ MB

In [18]:
a1 = cleaned_df3.columns.to_list()

for i in a1:
    print(f"{cleaned_df3[i].value_counts(dropna=False)}")
    print(f"Unique : {cleaned_df3[i].unique()}")
    print(f"Dtype : {cleaned_df3[i].dtype}")
    print(f"남은 결측치 : {cleaned_df3[i].isnull().sum()}")
    print('----'*10)
    print()

기준년월
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64
Unique : [201807 201808 201809 201810 201811 201812]
Dtype : int64
남은 결측치 : 0
----------------------------------------

ID
TRAIN_000000    6
TRAIN_266650    6
TRAIN_266672    6
TRAIN_266671    6
TRAIN_266670    6
               ..
TRAIN_133331    6
TRAIN_133330    6
TRAIN_133329    6
TRAIN_133328    6
TRAIN_399999    6
Name: count, Length: 400000, dtype: int64
Unique : ['TRAIN_000000' 'TRAIN_000001' 'TRAIN_000002' ... 'TRAIN_399997'
 'TRAIN_399998' 'TRAIN_399999']
Dtype : object
남은 결측치 : 0
----------------------------------------

잔액_일시불_B0M
0         684962
7           1270
8           1240
9           1112
10           968
           ...
33163          1
41698          1
40967          1
164026         1
23438          1
Name: count, Length: 46915, dtype: int64
Unique : [  998  2565  5312 ... 45602 37416 23438]
Dtype : int64
남은 결측치 : 0
----------------------------------------

잔액_할부_B0M
0        1629476
1714         289
1809         286
1979         285
1583         282
          ...
37836          1
26109          1
28214          1
20330          1
23638          1
Name: count, Length: 27079, dtype: int64
Unique : [  962  2390  5113 ... 23592 30039 23638]
Dtype : int64
남은 결측치 : 0
----------------------------------------

월중평잔_일시불_B0M
0        665570
7          1573
8          1535
9          1257
10         1029
          ...
57830         1
75192         1
32567         1
72027         1
51204         1
Name: count, Length: 50150, dtype: int64
Unique : [  1084   4090   5006 ... 119413  40835  51204]
Dtype : int64
남은 결측치 : 0
----------------------------------------

월중평잔_할부_B0M
0        1562426
1400         325
1247         323
1192         323
1182         323
          ...
33213          1
93830          1
29508          1
69076          1
23062          1
Name: count, Length: 40800, dtype: int64
Unique : [  547  2553  8778 ... 15942 39437 23062]
Dtype : int64
남은 결측치 : 0
----------------------------------------

잔액_할부_B1M
0        1585586
1220         301
1357         295
1338         294
1240         293
          ...
29057          1
40083          1
48829          1
98482          1
31465          1
Name: count, Length: 42386, dtype: int64
Unique : [   640   2779   9451 ... 105012  46024  31465]
Dtype : int64
남은 결측치 : 0
----------------------------------------

잔액_할부_B2M
0        1574720
1220         293
1338         286
1203         283
1357         280
          ...
37823          1
33370          1
81221          1
39546          1
35873          1
Name: count, Length: 44400, dtype: int64
Unique : [  805  2699  4233 ... 69944 53535 35873]
Dtype : int64
남은 결측치 : 0
----------------------------------------

잔액_일시불_B1M
0        685125
8          1474
6          1432
9          1411
7          1405
          ...
54450         1
80693         1
50932         1
47859         1
49464         1
Name: count, Length: 51622, dtype: int64
Unique : [  736  6795  5150 ... 64352 46204 49464]
Dtype : int64
남은 결측치 : 0
----------------------------------------

잔액_일시불_B2M
0         690155
6           1419
7           1346
8           1324
9           1214
           ...
81133          1
101270         1
47684          1
47203          1
59353          1
Name: count, Length: 51500, dtype: int64
Unique : [ 1083  1424  6143 ... 59088 57031 59353]
Dtype : int64
남은 결측치 : 0
----------------------------------------

연체일수_B1M
-999999    2121871
 0          277067
 1            1062
Name: count, dtype: int64
Unique : [-999999       0       1]
Dtype : int64
남은 결측치 : 0
----------------------------------------

연체일수_B2M
-999999    2111112
 0          287883
 1            1005
Name: count, dtype: int64
Unique : [-999999       0       1]
Dtype : int64
남은 결측치 : 0
----------------------------------------

연체일수_최근
-999999    2362141
 0           35026
 1            2833
Name: count, dtype: int64
Unique : [-999999       0       1]
Dtype : int64
남은 결측치 : 0
----------------------------------------

최종연체회차
-99    1598239
 0      801761
Name: count, dtype: int64
Unique : [  0 -99]
Dtype : int64
남은 결측치 : 0
----------------------------------------

잔액_할부_무이자_B0M
0        1797147
1420         281
1583         281
1787         278
1574         278
          ...
20368          1
21956          1
24924          1
46172          1
23638          1
Name: count, Length: 24298, dtype: int64
Unique : [  962     0  5113 ... 17406 17194 23638]
Dtype : int64
남은 결측치 : 0
----------------------------------------

월중평잔
0         525599
330702      3040
12          2522
13          2458
14          2411
           ...
161806         1
82421          1
279410         1
100770         1
107431         1
Name: count, Length: 112385, dtype: int64
Unique : [ 17237   7967  59917 ... 240805 216077 107431]
Dtype : int64
남은 결측치 : 0
----------------------------------------

월중평잔_일시불
0        604988
9          2782
10         2715
8          2659
11         2617
          ...
50425         1
58949         1
65736         1
26937         1
39498         1
Name: count, Length: 49193, dtype: int64
Unique : [ 1503  4447  5540 ... 47341 35849 39498]
Dtype : int64
남은 결측치 : 0
----------------------------------------

월중평잔_할부
0        1558318
1094         335
1158         330
1023         327
1085         322
          ...
38543          1
30948          1
59870          1
41144          1
33020          1
Name: count, Length: 41787, dtype: int64
Unique : [  532  2639  8903 ... 37788 27451 33020]
Dtype : int64
남은 결측치 : 0
----------------------------------------

평잔_3M
0         473106
311938      4438
8           3605
9           3318
7           3195
           ...
62548          1
171706         1
292964         1
119147         1
167577         1
Name: count, Length: 117605, dtype: int64
Unique : [ 18557   7031  70265 ...  95919 245686 167577]
Dtype : int64
남은 결측치 : 0
----------------------------------------

평잔_일시불_3M
0        542054
7          4362
6          4189
8          4013
5          3839
          ...
34383         1
53794         1
28785         1
46883         1
46434         1
Name: count, Length: 51176, dtype: int64
Unique : [ 1791  3761  6796 ... 36671 36826 46434]
Dtype : int64
남은 결측치 : 0
----------------------------------------

평잔_할부_3M
0        1482549
620          320
673          317
726          309
480          309
          ...
45861          1
44104          1
35153          1
51050          1
45609          1
Name: count, Length: 47518, dtype: int64
Unique : [  601  2886  7758 ... 23146 42981 45609]
Dtype : int64
남은 결측치 : 0
----------------------------------------

평잔_6M
0         384972
299154      5653
8           3195
9           3091
7           2965
           ...
49304          1
52821          1
82982          1
105217         1
81552          1
Name: count, Length: 123514, dtype: int64
Unique : [ 15988   7045  66549 ... 286584 131007  81552]
Dtype : int64
남은 결측치 : 0
----------------------------------------

평잔_일시불_6M
0        441363
6          4724
7          4361
5          4092
8          3677
          ...
33752         1
39279         1
40005         1
54327         1
68821         1
Name: count, Length: 50481, dtype: int64
Unique : [ 2440  2677  9118 ... 32856 47830 68821]
Dtype : int64
남은 결측치 : 0
----------------------------------------

평잔_할부_6M
0        1351969
316          433
457          429
357          429
329          427
          ...
31128          1
43905          1
60429          1
84939          1
75207          1
Name: count, Length: 51585, dtype: int64
Unique : [  572  2736  4429 ... 38211 19897 75207]
Dtype : int64
남은 결측치 : 0
----------------------------------------